body {
    background-color: lightcyan;
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
.head-container {
    display: flex;
    flex: auto;
    justify-content: center;   
}
.head-container h1 {
    font-size: 60px;
}